{% extends 'base.html' %}
{% load static %}

{% block title %}
Создание приемки
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/select_search.css' %}">

    <style>
    .acceptance{
        display: flex;
        flex-wrap: wrap;
    }
    .acceptance_create{
        margin-left: 30px;
    }
    #create-user-btn{
        margin-left: 30px;
    }
    #create-user-form{
        margin-left: 30px;
    }
    </style>
{% endblock %}
{% block page_title %}
Создание приемки
{% endblock %}
{% block content %}
<div class="acceptance">
    <div class="acceptance_create">

        <form action="{% url 'acceptance' %}" method="post">
        {% csrf_token %}


            <div class="input">
                  <label for="search-input"></label>
                    <select required name="client" class="search-input">
                        <option value=""></option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                <label for="132132"></label>
                <input required name="name" type="text" id="132132" placeholder="Товар"><br>
                <input required name="count" type="number" id="132132" placeholder="Кол-во">
            </div>
            <input type="submit" value="Создать приемку">
        </form>
    </div>
<div>
    <button id="create-user-btn">Новый Клиент</button>
    <div id="create-user-form" style="display: none;">
        <form method="post" class="login-form" action="{% url 'register' %}">
            {% csrf_token %}
            <p>
                <label for="id_username"></label>
                <input type="text" name="username" maxlength="100" required autofocus="" id="id_username" placeholder="Телефон WhatsApp (логин)">
            </p>
            <p>
                <label for="id_first_name"></label>
                <input type="text" name="first_name" maxlength="254" required="" id="id_first_name" placeholder="Имя">
            </p>
            <p>
                <label for="id_last_name"></label>
                <input type="text" name="last_name" maxlength="254" required="" id="id_last_name" placeholder="Фамилия">
            </p>
            <p><input type="hidden" name="user_type" value="client"></p>
            <p>
                <label for="id_referral"></label>
                <select name="referral" id="id_referral">
                    <option value="">Реферал</option>
                    {% for referral in referrals %}
                        <option value="{{ referral.id }}">{{ referral }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="id_password1"></label>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Пароль">
            <p>
                <label for="id_password2"></label>
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Повторите пароль:">
            </p>
            <input type="submit" value="Создать">
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/packets/jquery.min.js' %}"></script>
    <script src="{% static 'js/packets/microplugin.js' %}"></script>
<script src="{% static 'js/packets/sifter.min.js' %}"></script>

<script src="{% static 'js/packets/selectize.min.js' %}"></script>
<script>
$(document).ready(function(){
	$('.search-input').selectize();
});
const createUserBtn = document.getElementById('create-user-btn');
const createUserForm = document.getElementById('create-user-form');



createUserBtn.addEventListener('click', function() {
    createUserForm.style.display = 'block';
});
</script>
{% endblock %}
