{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <style>
    .top_block{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .order_info {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 400px;
    }

    .order_info h2 {
        font-size: 18px;
        margin-top: 0;
    }

    .order_info p {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .order_info b {
        font-weight: bold;
    }

    .order_info span {
        font-weight: normal;
    }
</style>

{% endblock %}
{% block title %}
Создание счета
{% endblock %}
{% block page_title %}
Создание счета
{% endblock %}
{% block content %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>

<form action="{% url 'invoise_create' order.id %}" method="post">
    {% csrf_token %}
        <input type="submit" value="Скачать Счет">
    </form>
    <div class="invoice-container">
    <div class="top_block">
    <div class="order_info">
        <h5>Информация о заказе</h5>
        <h2>Заказ №{{ order.id }} · {{ order.client }}</h2>
        <p><b>Товар: </b><span>{{ order.name }}</span></p>
        <p><b>Общ. кол-во: </b><span>{{ order.count }}</span></p>
        <p><b>К отправке: </b><span>{{ order.good_quality }}</span></p>
        <p><b>Брак: </b><span>{{ order.defective }}</span></p>
        <p><b>К оплате: </b><span>{{ order.amount }}</span></p>
    </div>

    <div class="addservice">
     <form action="{% url 'apply_discount' %}" method="post">
            <h5>Скидка клиента {{ order.client.discount.percent }} %</h5>
            <h4>Активная скидка заказа:</h4>
            {% csrf_token %}
            <label>
                <input type="hidden" value="{{ order.id }}" name="order">
                <input type="text" value="{{ order.discount }}" name="percent">
            </label>
            <input type="submit" value="%">
        </form>
      <h4>Добавить услугу</h4>
        <form action="{% url 'add_service'  %}" method="post">
        {% csrf_token %}
            <input type="hidden" value="{{ order.id }}" name="order">
            <label for=""></label><select name="service" id="">
                {% for service in all_services %}

                    <option value="{{ service.id }}">{{ service.name }} {{ service.price }}</option>
                {% endfor %}
            </select>
            <label>
                <input type="number" name="count" placeholder="кол-во">
            </label>
            <input type="submit" value="Добавить">
        </form>
        <h4>Добавить расходный материал</h4>
        <form action="{% url 'add_consumables' %}" method="post">
        {% csrf_token %}
            <input type="hidden" value="{{ order.id }}" name="order">
            <label for=""></label><select name="consumable" id="">
                {% for consumable in consumables %}
                    <option value="{{ consumable.id }}">{{ consumable.name }} | {{ consumable.count }}</option>
                {% endfor %}
            </select>
            <label>
                <input type="number" name="count" placeholder="кол-во">
            </label>
            <input type="submit" value="Добавить">
        </form>
    </div>
    </div>
    <div class="services">
            <h5>Информация об услугах</h5>

<table>
  <thead>
    <tr>
      <th>Сервис</th>
      <th>Тип</th>
      <th>Кол-во</th>
      <th>Цена за ед.</th>
      <th>Стоимость</th>
    </tr>
  </thead>
  <tbody>
    {% regroup service_orders by service.service.type as service_type_list %}
    {% for service_type in service_type_list %}
      <tr>
        <th colspan="5">{{  service_order.service.type }}</th>
      </tr>
      {% for service_order in service_type.list %}
        <tr>
          <td>{{ service_order.service }}</td>
          <td>{{ service_order.service.type }}</td>
          <td>{{ service_order.count }}</td>
          <td>{{ service_order.service.price }}</td>
          <td>{{ service_order.price }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
    </div>
    <div class="consumables">
            <h5>Расходные материалы</h5>

<table>
  <thead>
    <tr>
      <th data-label="Расходник">Расходник</th>
      <th data-label="Тип">Тип</th>
      <th data-label="Цена за ед.">Цена за ед.</th>
      <th data-label="Кол-во">Кол-во</th>
      <th data-label="Стоимость">Стоимость</th>
    </tr>
  </thead>
  <tbody>

    {% for consumable in consumables_in_order %}
        <tr>
          <td data-label="Расходник">{{ consumable.consumable.name }}</td>
          <td data-label="Тип">{{ consumable.count }}</td>
          <td data-label="Цена за ед.">{{ consumable.consumable.price }}</td>
          <td data-label="Кол-во">{{ consumable.count }}</td>
          <td data-label="Стоимость">{{ consumable.price }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>
    </div>
    </div>
    <div class="next_stage">
      <form action="{% url 'invoice_generation_next' order.id %}" method="post">
        {% csrf_token %}
     <button type="submit">Следующая стадия </button>
    </form>
    </div>
{% endblock %}
