{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <style>
    .order_info {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 400px;
    }

    .order_info h2 {
        font-size: 18px;
        margin-top: 0;
    }

    .order_info p {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .order_info b {
        font-weight: bold;
    }

    .order_info span {
        font-weight: normal;
    }
</style>

{% endblock %}

{% block content %}
<form action="{% url 'invoise_create' order.id %}" method="post">
    {% csrf_token %}
        <input type="submit" value="Скачать Счет">
    </form>
    <div class="invoice-container">
            <h5>Информация о заказе</h5>

    <div class="order_info">
        <h2>Заказ №{{ order.id }} · {{ order.client }}</h2>
        <p><b>Товар: </b><span>{{ order.name }}</span></p>
        <p><b>Общ. кол-во: </b><span>{{ order.count }}</span></p>
        <p><b>К отправке: </b><span>{{ order.good_quality }}</span></p>
        <p><b>Брак: </b><span>{{ order.defective }}</span></p>

    </div>
    <div class="services">
            <h5>Информация об услугах</h5>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Type</th>
      <th>Count</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% regroup service_orders by service.service.type as service_type_list %}
    {% for service_type in service_type_list %}
      <tr>
        <th colspan="4">{{  service_order.service.type }}</th>
      </tr>
      {% for service_order in service_type.list %}
        <tr>
          <td>{{ service_order.service }}</td>
          <td>{{ service_order.service.type }}</td>
          <td>{{ service_order.count }}</td>
          <td>{{ service_order.amount }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
    </div>
    </div>
      <form action="{% url 'invoice_generation_next' order.id %}" method="post">
        {% csrf_token %}
     <button type="submit">Следующая стадия </button>
    </form>

{% endblock %}
