{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <style>
    h2{
        text-align: center;
    }
    .card_container{
        display: flex;
    }
    .card{
        border: #af4c4c 1px solid;
        margin: 0 10px 0 0 ;
        padding: 10px;
    }
    .card_title{
        font-size: 20px;
    }
    .card_body{
        font-size: 15px;
    }
    </style>
{% endblock %}
{% block title %}
Процессы ОТК
{% endblock %}
{% block page_title %}
Процессы ОТК
{% endblock %}
{% block content %}

    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>

    <div class="table-container">
    <h2>Выдача</h2>
        <table>
            <thead>
                <tr>
                    <th data-label="Штрихкод">Штрихкод</th>
                    <th data-label="Продукт">Продукт</th>
                    <th data-label="Размер">Размер</th>
                    <th data-label="Цвет">Цвет</th>
                    <th data-label="Кол-во">Кол-во</th>
                    <th data-label="Работник">Работник</th>
                    <th data-label="Передать">Передать</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <form action="{% url 'quality_check_update' order.id %}" method="post">
                        {% csrf_token %}
                        <td data-label="Штрихкод">
                            <input readonly name="product" type="hidden" value="{{ product.id }}">{{ product.barcode }}
                        </td>
                        <td data-label="Продукт">
                            <input readonly name="order" type="hidden" value="{{ order.id }}">{{ product.name }}
                        </td>
                        <td data-label="Размер">{{ product.size }}</td>
                        <td data-label="Цвет">{{ product.color }}</td>
                        <td data-label="Кол-во">{{ product.actual_quantity }}</td>
                        <td data-label="Работник">
                            <label for="user"></label>
                            <select name="user" id="user">
                                {% for worker in workers %}
                                <option value="{{ worker.id }}">{{ worker }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="5" data-label="Передать">
                            <input type="submit" value="Отдать">
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="next_stage">
    <a href="{% url 'set_of_service_create' order_id %}"><button>Создать набор услуг</button></a>
    </div>
    <div class="card_container">
        {% for set in sets_of_services %}
        <div class="card">
            <div class="card_title">
                {{ set.name }}
            </div>
            <div class="card_body">
                {% for service in set.services.all %}
                <p>{{ service.service }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="table-container">
    <h2>В работе</h2>
        <table>
            <thead>
                <tr>
                    <th data-label="Сотрудник">Сотрудник</th>
                    <th data-label="Продукт">Продукт</th>
                    <th data-label="Штрихкод">Штрихкод</th>
                    <th data-label="Цвет">Цвет</th>
                    <th data-label="Размер">Размер</th>
{#                    <th data-label="Добавить услугу">Добавить услугу</th>#}
                    <th data-label="Выбрать набор">Выбрать набор</th>
                    <th data-label="Общ кол-во">Общ кол-во</th>
                    <th data-label="Кол-во брака">Кол-во брака</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products_in_work %}
                <tr>
                    <td data-label="Сотрудник">{{ product.emp.first.user }}</td>
                    <td data-label="Продукт">{{ product.name }}</td>
                    <td data-label="Штрихкод">{{ product.barcode }}</td>
                    <td data-label="Цвет"><label>{{ product.color }}</label></td>
                    <td data-label="Размер"><label>{{ product.size }}</label></td>
{#                    <td data-label="Добавить услугу"><a href="{% url 'add_service' order.id %}">Добавить услугу</a></td>#}
                    <td data-label="Выбрать набор">
                        <form id="update-form-{{ product.id }}" data-product-id="{{ product.id }}" method="post"
                            action="{% url 'defective_check_update' product.id %}">
                            {% csrf_token %}
                            <label for="set-{{ product.id }}"></label>
                            <select name="set" id="set-{{ product.id }}" required>
                                {% for service in sets_of_services %}
                                <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                    </td>
                    <td data-label="Общ кол-во">{{ product.actual_quantity }}</td>
                    <td data-label="Кол-во брака">
                        <label>
                            <input type="hidden" value="{{ order_id }}" name="order">
                            <input type="hidden" value="{{ product.emp.first.user.id }}" name="employer">
                            <input type="number" max="{{ product.actual_quantity }}" name="defective"
                                value="{{ product.defective }}" onchange="updateDefectiveQuantity({{ product.id }})">
                            <input type="checkbox" class="submit-checkbox" {% if product.defective_check %}checked{% endif %}
                                data-form-id="update-form-{{ product.id }}">
                        </label>
                    </td>
                        </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="next_stage">
    <form action="{% url 'quality_check_next' order_id %}" method="post">
        {% csrf_token %}
        <button type="submit">Завершить работы</button>
    </form>
    </div>
    <br>

{% endblock %}

{% block js %}
<script>
    // Add event listeners to the checkboxes
    const checkboxes = document.querySelectorAll('.submit-checkbox');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function () {
            const formId = this.getAttribute('data-form-id');
            const form = document.getElementById(formId);
            submitFormViaAjax(form);
        });
    });

    // Function to submit the form via AJAX
    function submitFormViaAjax(form) {
        const formData = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                console.log(data);
                // Handle the response data here
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    // Function to update the defective quantity
    function updateDefectiveQuantity(productId) {
        const formId = `update-form-${productId}`;
        const form = document.getElementById(formId);
        submitFormViaAjax(form);
    }
</script>
{% endblock %}
