{% extends 'templates/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
Пересчёт и сортировка
{% endblock %}
{% block content %}

    <h2>{{ order.client }} #{{ order.id }}</h2>

    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>

    <div class="table-container">

<table>
  <thead>
    <tr>
      <th data-label="Наименование">Наименование</th>
      <th data-label="Цвет">Цвет</th>
      <th data-label="Размер">Размер</th>
      <th data-label="Декларированное количество">Декларированное количество</th>
      <th data-label="Фактическое количество">Фактическое количество</th>
      <th data-label="Комментарий">Комментарий</th>
      <th data-label="Подтверждение">Подтверждение</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td data-label="Наименование">
        <label>{{ product.name }}</label>
      </td>
      <td data-label="Цвет">
        <label>{{ product.color }}</label>
      </td>
      <td data-label="Размер">
        <label>{{ product.size }}</label>
      </td>
      <td data-label="Декларированное количество">
        <label>{{ product.declared_quantity }}</label>
      </td>
      <td data-label="Фактическое количество">
          <label>
              <input type="number" required name="actual_quantity" value="{{ product.actual_quantity }}" placeholder="Фактическое количество">
          </label>
      </td>
      <td data-label="Комментарий">
          <label>
              <input type="text" name="comment" value="{{ product.comment }}" placeholder="Комментарий">
          </label>
      </td>
      <td data-label="Подтверждение">
          <label>
              <input type="checkbox" name="confirmation" value="true" {% if product.confirmation %} checked {% endif %} onchange="updateProduct('{{ product.id }}', this)">
          </label>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        <br>
    <div class="next_stage">
     <form action="{% url 'unpacking_next' order.id %}" method="post">
            {% csrf_token %}
            <button type="submit">подтвердить количество</button>
        </form>
    </div>
    </div>
    <script src="{% static 'js/packets/jquery.min.js' %}"></script>
    <script>
        function updateProduct(productId, checkbox) {
            var actualQuantity = $(checkbox).closest('tr').find('input[name="actual_quantity"]').val();
            var comment = $(checkbox).closest('tr').find('input[name="comment"]').val();
            var confirmation = $(checkbox).is(':checked');

            // Проверка значений полей "name" и "declared_quantity"
            var name = $(checkbox).closest('tr').find('label:first').text();
            var declaredQuantity = $(checkbox).closest('tr').find('label:eq(1)').text();

            if (name.trim() === '' || declaredQuantity.trim() === '') {
                console.log('Name or declared quantity is empty');
                return;
            }

            $.ajax({
                url: "{% url 'unpacking_update' 0 %}".replace('0', productId),
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    actual_quantity: actualQuantity,
                    comment: comment,
                    confirmation: confirmation
                },
                success: function(response) {
                    console.log('Update successful');
                },
                error: function(xhr, status, error) {
                    console.log('Error occurred:', error);
                }
            });
        }
    </script>
        <script src="{% static 'js/tables.js' %}"></script>


{% endblock %}
