{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
Касса
{% endblock %}
{% block content %}
    <div class="cashbox">
    <div class="info">
    <h3>Касса: {{ object.name }}</h3>
    <p>Текущий баланс: {{ object.balance }}</p>
    </div>
    <div class="operations">
    </div>
    </div>
    <div class="cashbox-operations">

  <table>
  <h4>Расход</h4>

  <thead>
    <tr>
        <th>Дата</th>
        <th>Врумя</th>
      <th>Пользователь</th>
      <th>Категория</th>
      <th>Сумма</th>
      <th>От куда</th>
      <th>Куда</th>
      <th>Комментарий</th>


    </tr>
  </thead>
  <tbody>
    {% for operation in operations_from %}
    <tr>
        <td>{{ operation.date }}</td>
        <td>{{ operation.time }}</td>
      <td>{{ operation.user }}</td>
      <td>{{ operation.category }}</td>
      <td>{{ operation.money }}</td>
      <td>{{ operation.cashbox_from }}</td>
      <td>{{ operation.cashbox_to }}</td>
      <td>{{ operation.comment }}</td>


    </tr>
    {% endfor %}
  </tbody>
</table>

  <table>
  <h4>Приход</h4>

  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Категория</th>
      <th>Сумма</th>
      <th>От куда</th>
      <th>Куда</th>
      <th>Комментарий</th>

    </tr>
  </thead>
  <tbody>
    {% for operation in operations_to %}
    <tr>
      <td>{{ operation.user }}</td>
      <td>{{ operation.category }}</td>
      <td>{{ operation.money }}</td>
      <td>{{ operation.cashbox_from }}</td>
      <td>{{ operation.cashbox_to }}</td>
      <td>{{ operation.comment }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}
