{% extends 'base.html' %}
{% load static %}
{% block title %}
Кассы
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
Кассы
{% endblock %}

{% block content %}
    <div class="table-container">
        <a href="{% url 'operation_list' %}">
            <button>
                Категории кассовых операций
            </button>
        </a>
<table>
  <thead>
    <tr>
      <th data-label="Имя услуги">Имя услуги</th>
      <th data-label="№">№</th>
      <th data-label="Цена">Цена</th>
      <th data-label="Применить">Применить</th>
    </tr>
  </thead>
  <tbody>
    <form method="post" action="{% url 'cashbox_create' %}">
    {% csrf_token %}
      <tr>
        <td data-label="Имя услуги"><input type="text" placeholder="Название" name="name"></td>
        <td data-label="№"></td>
        <td data-label="Цена"><input type="number" placeholder="Баланс" name="balance"></td>
        <td data-label="Применить"><input type="submit" value="Добавить"></td>
      </tr>
    </form>

    {% for cashbox in object_list %}
      <tr>
          <td data-label="Имя услуги">{{ cashbox.name }}</td>
          <td data-label="№">{{ cashbox.id }}</td>
          <td data-label="Цена">{{cashbox.balance }}</td>
          <td data-label="Применить"><a href="{% url 'cashbox_detail' cashbox.id %}"><input type="submit" value="{{ cashbox.name }}"></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% include 'includes/paginate.html' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/tables.js' %}"></script>
{% endblock %}