{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
Клиент: {{ user }}
{% endblock %}
{% block content %}
 <h1>{{ user }}</h1>
    <p>Телефон: {{ user.username }}</p>
    <p>Скидка: {{ user.discount.name }}</p>
    <p>Заказов на сумму: {{ user.money }}</p>
    <p>Прибыль: {{ user.profit }}</p>
    <p>Кол-во товара: {{ user.product_count }}</p>
    <p>Реферал: {{ user.referral }}</p>
    <a href="{% url 'user_change' user.id %}"><button>Редиктировать</button></a>
<table>
  <thead>
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Стадия</th>
        <th>Сумма</th>
        <th>Себестоимость</th>
        <th>Количество</th>
        <th>Реферал</th>
        <th>Клиент</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td><a href="{% url 'order_detail' order.id %}">#{{ order.id }}</a></td>
        <td>{{ order.date }}</td>
        <td>{{ order.get_stage_display }}</td>
        <td>{{ order.amount }}</td>
        <td>{{ order.cost_price }}</td>
        <td>{{ order.count }}</td>
        <td>{{ order.client.referral }}</td>
        <td><a href="{% url 'client_detail' order.client.id %}">{{ order.client }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}