{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
 <div class="">
    <div><p>{{ user.username }}</p></div>
  </div>
  <div class="">
    <div><p>{{ user.first_name }} {{ user.last_name }}</p></div>
  </div>
  <div class="">
    <div><p>{{ user.money }}</p> </div>
  </div>
  <div class="">
    <div><p>{{ user.services_count }}</p> </div>
  </div>
  <div class="">
    <div><p>{{ user.joined_date }}</p> </div>
  </div>


    <table>
      <thead>
        <tr>
          <th data-label="Номер заказа">Номер заказа</th>
          <th data-label="Дата">Дата</th>
          <th data-label="Зарплата">Зарплата</th>
          <th data-label="Выплатить">Выплатить</th>
        </tr>
      </thead>
      <tbody>
     {% for order in orders %}
          <tr>
            <td data-label="Номер заказа"><a href="{% url  'employer_order_detail' user.id order.order.id %}">№{{ order.order.id }}</a></td>
            <td data-label="Дата">{{ order.order.date }}</td>
            <td data-label="Зарплата">{{ order.salary }}</td>
            <td data-label="Выплатить">
                {% if order.salary == 0 %}
                    <input type="submit" disabled value="Выплаченно">
                {% else %}
                    <form action="{% url 'pay_a_salary' order.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Выплатить">
                </form>
                {% endif %}

            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">Нет доступных заказов.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}