{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
    {{ user }} / Заказ №{{ order_id }}
{% endblock %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th data-label="ШК">ШК</th>
                <th data-label="Услуга">Услуга</th>
                <th data-label="Общее Кол-во">Общее Кол-во</th>
                <th data-label="Кол-во Брака">Кол-во Брака</th>
                <th data-label="Дата">Дата</th>
            </tr>
        </thead>
        <tbody>
             {% for object in object_list %}
                <tr>
                    <td data-label="Услуга">{{ object.product.name }} ({{ object.product.color }}/{{ object.product.size }})</td>
                    <td>
{#                        <select>#}
                        {% for service in object.ep.order.order_service.filter.user %}
                            <p>{{ service.service }}
                                {% if service.before_defective %}
                                 - {{ object.product.count }}
                                {% else %}
                                 - {{ object.product.good_quality }}
                                {% endif %}
                            </p>
                        {% endfor %}
{#                    </select>#}
                    </td>

                    <td data-label="Общее Кол-во">{{ object.count }}</td>
                    <td data-label="Кол-во Брака">{{ object.product.defective }}</td>
                    <td data-label="Дата">{{ object.date }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
