{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block page_title %}
Работники
{% endblock %}

{% block content %}

    <a href="{% url 'register_worker' %}" class="nav_link"><button>Добавить Работника</button></a>

<table>
  <thead>
    <tr>
      <th data-label="Имя">Имя</th>
      <th data-label="Номер телефона">Номер телефона</th>
      <th data-label="Кол-во выполненных услуг">Кол-во выполненных услуг</th>
      <th data-label="Зарплата">Зарплата</th>

    </tr>
  </thead>
  <tbody>
    {% for employer in object_list %}
      <tr>
        <td data-label="Имя"><a href="{% url 'employer_detail' employer.id %}">{{ employer.first_name }} {{ employer.last_name }}</a></td>
        <td data-label="Номер телефона">{{ employer.username }}</td>
        <td data-label="Кол-во выполненных услуг">{{ employer.product_count }}</td>
        <td data-label="Зарплата">{{ employer.money }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'includes/paginate.html' %}

{% endblock %}