{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <style>
    .user_info{
        border: 1px solid black;
        padding: 10px;
        display: inline-block;
        min-width: 300px;
    }
    .user_flex{
        display: flex;
        justify-content: space-between;
    }
    </style>
{% endblock %}
{% block page_title %}
{{ user }}
{% endblock %}

{% block content %}
    <div class="user_info">
        <div class="user_flex"><b>Номер телефона:</b> <span>{{ user.username }}</span></div>
        <div class="user_flex"><b>Имя</b> <span>{{ user.first_name }} {{ user.last_name }}</span></div>
        <div class="user_flex"><b>Зарплата</b> <span>{{ user.money }}</span> </div>
        <div class="user_flex"><b>Количество услуг</b> <span>{{ user.product_count }}</span> </div>
    </div>
    <a href="{% url 'user_change' user.id %}"><button>Редактировать</button></a>

    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    <table>
      <thead>
        <tr>
          <th data-label="Номер заказа">Номер заказа</th>
          <th data-label="Дата">Дата</th>
          <th data-label="Зарплата">Зарплата</th>
          <th data-label="Выплатить">Выплатить</th>
        </tr>
      </thead>
      <tbody>
     {% for order in orders %}
          <tr>
            <td data-label="Номер заказа"><a href="{% url  'employer_order_detail' user.id order.order.id %}">№{{ order.order.id }}</a></td>
            <td data-label="Дата">{{ order.order.date }}</td>
            <td data-label="Зарплата">{{ user.money }}</td>
            <td data-label="Выплатить">
                {% if order.salary == 0 %}
                    <input type="submit" disabled value="Выплаченно">
                {% else %}
                    <form action="{% url 'pay_a_salary' order.id %}" method="post">
                    {% csrf_token %}
                        <label>
                              <select name="cashbox" id="" required>
                                  {% for cashbox in cashboxes %}
                                      <option value="{{ cashbox.id }}">{{ cashbox.name }}</option>
                                  {% endfor %}
                            </select>
                            <input type="number" value="{{ user.money }}" name="num" max="{{ user.money }}" min="1">

                        </label>
                        <input type="submit" value="Выплатить">
                </form>
                {% endif %}

            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">Нет доступных заказов.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}