{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
    {{ user }} / Заказ №{{ order_id }}
{% endblock %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th data-label="ШК">ШК</th>
                <th data-label="Услуга">Услуга</th>
                <th data-label="Общее Кол-во">Общее Кол-во</th>
                <th data-label="Кол-во Брака">Кол-во Брака</th>
            </tr>
        </thead>
        <tbody>
             {% for object in object_list %}
                <tr>
                    <td data-label="Услуга">{{ object.product.name }} ({{ object.product.color }}/{{ object.product.size }})</td>
                    <td>
                        {% for service in object.product_service.all %}
                            <p>{{ service.service }} - {{ service.count }}</p>
                        {% endfor %}
                    </td>

                    <td data-label="Общее Кол-во">{{ object.product.count }}</td>
                    <td data-label="Кол-во Брака">{{ object.product.defective }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
