{% extends 'base.html' %}
{% load static %}

{% block title %}
Услуги
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block page_title %}
Услуги
{% endblock %}

{% block content %}
    <a href="{% url 'service_type_create' %}">Создать тип услуг</a>
<table>
  <thead>
    <tr>
        <th data-label="Тип услуги">Тип услуги</th>
        <th data-label="Имя услуги">Имя услуги</th>
        <th data-label="Код">Код</th>
        <th data-label="Цена">Цена</th>
        <th data-label="Себестоимость">Себестоимость</th>
        <th data-label="До/После(черты)">До/После(черты)</th>
        <th data-label="Применить">Применить</th>
        <th data-label="Удалить">Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form method="post" action="{% url 'service_create' %}">
        {% csrf_token %}
          <td data-label="Тип услуги">
              <label for=""></label><select name="type" id="">
                  {% for type in types %}
                      <option value="{{ type.id }}">{{ type.type }}</option>
                  {% endfor %}
              </select>
          </td>
        <td data-label="Имя услуги"><label>
            <input type="text" placeholder="Название" name="name" required>
        </label></td>
        <td></td>
        <td data-label="Цена"><label>
            <input type="number" placeholder="Цена" name="price" required>
        </label></td>
        <td data-label="Себестоимость"><label>
            <input type="number" placeholder="Себестоимость" name="cost_price" required>
        </label></td>
          <td data-label="До/После(черты)">
              <label>
                  <input type="radio" name="gender" value="1">
              </label>
              <label>
                  <input type="radio" name="gender" value="0">
              </label>
          </td>
        <td><input type="submit" value="Добавить"></td>
      </form>
    </tr>
    {% for service in service_list %}
    <tr>
      <form method="post" action="{% url 'service_update' service.id %}">
        {% csrf_token %}
      <td data-label="Тип услуги">
           <label for=""></label><select name="type" id="">
                  {% for type in types %}
                      {% if service.type == type %}
                       selected
                      {% endif %}
                      <option value="{{ type.id }}">{{ type.type }}</option>
                  {% endfor %}
              </select>
      </td>
        <td data-label="Имя услуги"><label>
            <input type="text" value="{{ service.name }}" name="name" required>
        </label></td>
        <td data-label="Код">{{ service.id }}</td>
        <td data-label="Цена"><label>
            <input type="number" value="{{ service.price }}" name="price" required>
        </label></td>
        <td data-label="Себестоимость"><label>
            <input type="number" value="{{ service.cost_price }}" name="cost_price" required>
        </label></td>
          <td data-label="До/После(черты)">
              <label>
                  <input type="radio" name="gender"
                         {% if service.before_defective %}
                             checked
                          {% endif %}
                         value="True">
              </label>
              <label>
                  <input type="radio" name="gender"
                          {% if not service.before_defective %}
                             checked
                          {% endif %}
                         value="False">
              </label>
          </td>

        <td><input type="submit" value="Изменить"></td>
      </form>
      <form action="{% url 'service_delete' service.id %}" method="post">
        {% csrf_token %}
        <td><input type="submit" value="Удалить"></td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/paginate.html' %}
{% endblock %}
