{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}

    {% endblock %}
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>{% block title %}
        CRM
    {% endblock %}</title>
</head>

<body>


     <!-- navbar -->
        <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="{% static 'imgs/icons/logo.png' %}" alt=""><a href="{% url 'dashboard' %}">ИнторгАзия</a>
      </div>
      <div class="search_bar">
      <div class="page_title">
            {% block page_title %}
            123123123
            {% endblock %}
      </div>
      </div>
      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
{#        <img src="" alt="" class="profile" />#}
      </div>
    </nav>
    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
{#          <div class="menu_title menu_dahsboard"></div>#}
          <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
{#          <!-- start -->#}
{#          <li class="item">#}
{#            <div href="#" class="nav_link submenu_item">#}
{#              <span class="navlink_icon">#}
{#                <i class="bx bx-home-alt"></i>#}
{#              </span>#}
{#              <span class="navlink">Home</span>#}
{#              <i class="bx bx-chevron-right arrow-left"></i>#}
{#            </div>#}
{#            <ul class="menu_items submenu">#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#            </ul>#}
{#          </li>#}
          <!-- end -->
          <!-- start -->
{#          <li class="item">#}
{#            <div href="#" class="nav_link submenu_item">#}
{#              <span class="navlink_icon">#}
{#                <i class="bx bx-grid-alt"></i>#}
{#              </span>#}
{#              <span class="navlink">Overview</span>#}
{#              <i class="bx bx-chevron-right arrow-left"></i>#}
{#            </div>#}
{#            <ul class="menu_items submenu">#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#              <a href="#" class="nav_link sublink">Nav Sub Link</a>#}
{#            </ul>#}
{#          </li>#}
{#          <!-- end -->#}
{#        </ul>#}
        <ul class="menu_items">
          <div class="menu_title menu_editor"></div>
          <li class="item">
            <a href="{% url 'dashboard' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bxs-magic-wand"></i>
              </span>
              <span class="navlink">Стадии заказов</span>
            </a>
          </li>
            <li class="item">
            <a href="{% url 'order_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Все заказы</span>
            </a>
          </li>
            <li class="item">
            <a href="{% url 'cashbox_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Кассы</span>
            </a>
          </li>
          <li class="item">
            <a href="{% url 'employer_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-loader-circle"></i>
              </span>
              <span class="navlink">Зарплаты</span>
            </a>
          </li>


            <li class="item">
            <a href="{% url 'statistic_page' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Отчеты</span>
            </a>
          </li>

            <li class="item">
            <a href="{% url 'client_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Клиенты</span>
            </a>
          </li>
        </ul>
        <ul class="menu_items">
          <div class="menu_title menu_setting"></div>
{#          <li class="item">#}
{#            <a href="{% url 'register_worker' %}" class="nav_link">#}
{#              <span class="navlink_icon">#}
{#                <i class="bx bx-flag"></i>#}
{#              </span>#}
{#              <span class="navlink">Добавить Работника</span>#}
{#            </a>#}
{#          </li>#}
              <li class="item">
            <a href="{% url 'service_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-filter"></i>
              </span>
              <span class="navlink">Редактор услуг</span>
            </a>
          </li>
            <li class="item">
            <a href="{% url 'consumable_list' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
              <span class="navlink">Расходные материалы</span>
            </a>
          </li>
             <li class="item">
            <a href="{% url 'show_logs' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
              <span class="navlink">Logs</span>
            </a>
          </li>
             <li class="item">
            <a href="{% url 'logout' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
              <span class="navlink">LogOut</span>
            </a>
          </li>

        </ul>
        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <span> Expand</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Collapse</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
        </ul>
      </div>
    </nav>



  <div class="content">
  <div class="container">
  <div class="main">

    {% block content %}
    
    {% endblock %}
  </div>
  </div>
  </div>

    <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'js/sidebar.js' %}"></script>
{% block js %}

{% endblock %}

</body>


</html>