input[type="text"], input[type="password"], select, input[type="email"] {
  margin-bottom: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #111;
  box-shadow: 0 0 2px black;
}
input[type="number"] {
  margin-bottom: 4px;
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #111;
    box-shadow:0 0 2px black;

}

input[type="checkbox"] {
  margin-bottom: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
    box-shadow:0 0 2px black;

}

input[type="checkbox"]:checked {
  margin-bottom: 4px;
  border-color: #007bff;
  background-color: #007bff;
    box-shadow:0 0 2px black;

}
input[type="submit"] {
  margin-bottom: 4px;
  padding: 4px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
    box-shadow:0 0 2px black;

}

input[type="submit"]:hover {
  margin-bottom: 4px;
  background-color: #0056b3;
    box-shadow:0 0 2px black;

}

button{
  margin-bottom: 6px;
  padding: 4px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.messages li{
  color: red;
  font-size: 30px;
}

.next_stage{
    align-items: center;

}
.next_stage button{
  display: block;
    padding: 10px 10px;
    margin: 5px auto;
}
a{
  text-decoration: none;
}
.page_title{
  font-size: 30px;
}